# Hyperparameter experiment - varied # of samples per variable in train and test data.

In this experiment the amount of samples per test and train set were varied. The assumption was made that it is best to have the same amount of samples per variable in the train and test set for the KME, so they where always set to the same value.

For each experiment 10 different test sets were generated.

In [1]:
import pandas as pd
import numpy as np

In [3]:
KME_results = pd.read_csv('experiment_sample_size_results.csv')
wishart_results = pd.read_csv('wishart_experiment_samplesize_results.csv')

In [10]:
KME_results

,train_lin,b,d,KME,E,K,n_samples,n_distributions,best_score,mean_score,var_score
0,[False],0.01,0.01,4,1000,400,200,4000,0.827609,76.228956,3.715927
1,[False],0.01,0.05,4,1000,400,200,4000,0.816162,74.868687,4.122928
2,[False],0.05,0.01,4,1000,400,200,4000,0.812795,74.612795,3.834720
3,[False],0.05,0.05,4,1000,400,200,4000,0.816162,74.868687,4.122928
4,[False],0.01,0.01,4,1000,400,500,4000,0.830976,79.939394,1.921836
5,[False],0.01,0.05,4,1000,400,500,4000,0.826936,80.309764,1.382425
6,[False],0.05,0.01,4,1000,400,500,4000,0.830976,79.939394,1.921836
7,[False],0.05,0.05,4,1000,400,500,4000,0.826936,80.309764,1.382425
8,[False],0.01,0.01,4,1000,400,1000,4000,0.809428,78.161616,1.378104
9,[False],0.01,0.05,4,1000,400,1000,4000,0.814141,79.070707,1.261903
10,[False],0.05,0.01,4,1000,400,1000,4000,0.809428,78.161616,1.378104
11,[False],0.05,0.05,4,1000,400,1000,4000,0.814141,79.070707,1.261903
12,[False],0.01,0.01,4,1000,400,2000,4000,0.842424,79.441077,2.803491
13,[False],0.01,0.05,4,1000,400,2000,4000,0.843771,79.952862,3.678771
14,[False],0.05,0.01,4,1000,400,2000,4000,0.842424,79.441077,2.803491
15,[False],0.05,0.05,4,1000,400,2000,4000,0.843771,79.952862,3.678771

In [19]:
for value in KME_results.n_samples.unique():
    print(value)
    print(KME_results[KME_results['n_samples'] == value]['mean_score'].mean())
    print(KME_results[KME_results['n_samples'] == value]['var_score'].mean())

200
75.14478114478113
3.9491258668253817
500
80.12457912457913
1.6521304734539615
1000
78.6161616161616
1.3200037543195569
2000
79.69696969696969
3.24113106314059

In [20]:
wishart_results

,linear,b,d,nsamples,linear.1,best_accuracy,mean_accuracy,std_accuracy
0,[False],0.05,0.05,200,False,0.619529,0.548148,0.054012
1,[False],0.05,0.05,500,False,0.768350,0.648956,0.108801
2,[False],0.05,0.05,1000,False,0.859933,0.712368,0.126657
3,[False],0.05,0.05,2000,False,0.915825,0.758418,0.135743