# Hyperparameter experiment - varied # of samples per variable in train and test data.

In this experiment the amount of samples per test and train set were varied. THe assumption was made that it is best to have the same amount of samples per variable in the train and test set for the KME, so they were varied together.

For each experiment 10 different test sets where generated.

In [1]:
import pandas as pd
import numpy as np

In [3]:
KME_results = pd.read_csv('experiment_sample_size_results.csv')
wishart_results = pd.read_csv('wishart_experiment_samplesize_results.csv')

In [5]:
KME_results.describe()

,b,d,KME,E,K,n_samples,n_distributions,best_score,mean_score,var_score
count,16.000000,16.000000,16.0,16.0,16.0,16.000000,16.0,16.000000,16.000000,16.000000
mean,0.030000,0.030000,4.0,1000.0,400.0,925.000000,4000.0,0.825505,78.395623,2.540598
std,0.020656,0.020656,0.0,0.0,0.0,705.691151,0.0,0.012701,2.066141,1.160866
min,0.010000,0.010000,4.0,1000.0,400.0,200.000000,4000.0,0.809428,74.612795,1.261903
25%,0.010000,0.010000,4.0,1000.0,400.0,425.000000,4000.0,0.814141,77.678451,1.381344
50%,0.030000,0.030000,4.0,1000.0,400.0,750.000000,4000.0,0.826936,79.255892,2.362664
75%,0.050000,0.050000,4.0,1000.0,400.0,1250.000000,4000.0,0.833838,79.942761,3.688060
max,0.050000,0.050000,4.0,1000.0,400.0,2000.000000,4000.0,0.843771,80.309764,4.122928